html, body {
  min-height: 100%;
  }
  body, div, form, input, select, textarea, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  }
  h1 {
  position: absolute;
  margin: 0;
  font-size: 36px;
  color: #fff;
  z-index: 2;
  }
  .testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex-direction: column;
 
  }
  form {
  width:100%;
  padding:10px;
  
  background: #fff;
  box-shadow: 0 0 0px 0 #333; 
  }
  .banner {
  position: relative;
  height: 210px;
  background-image: url("/uploads/media/default/0001/02/328c356e9bba5add698e405d0059aa4207d8f1f6.jpeg");      background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4); 
  position: absolute;
  width: 100%;
  height: 100%;
  }
  input, textarea, select {
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  }
  input {
  width: calc(100% - 10px);
  padding: 5px;
  }
  select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
  }
  textarea {
  width: calc(100% - 12px);
  padding: 5px;
  }
  .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
  color: #333;
  }
  .item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #333;
  color: #333;
  }
  .item {
  position: relative;
  margin: 10px 0;
  }
  input[type="date"]::-webkit-inner-spin-button {
  display: none;
  }
  .item i, input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color: #a9a9a9;
  }
  .item i {
  right: 1%;
  top: 30px;
  z-index: 1;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
  right: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  }
  input[type="time"]::-webkit-inner-spin-button {
  margin: 2px 22px 0 0;
  }
  input[type=radio], input.other {
  display: none;
  }
  label.radio {
  position: relative;
  display: inline-block;
  margin: 5px 20px 10px 0;
  cursor: pointer;
  }
  .question span {
  margin-left: 30px;
  }
  label.radio:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #ccc;
  }
  #radio_5:checked ~ input.other {
  display: block;
  }
  input[type=radio]:checked + label.radio:before {
  border: 2px solid #444;
  background: #444;
  }
  label.radio:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 7px;
  height: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
  }
  input[type=radio]:checked + label:after {
  opacity: 1;
  }
  .btn-block {
  margin-top: 10px;
  text-align: center;
  }
  button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  background: #444;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  }
  button:hover {
  background: #666;
  }
  p{
    color: #000;
  }
  @media (min-width: 568px) {
  .name-item, .city-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .name-item input, .city-item input {
  width: calc(50% - 20px);
  }
  .city-item select {
  width: calc(50% - 8px);
  }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #333fff;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding:50px
  }
  
  .grid-item {
    background-color: #ddd;
    padding: 30px;
    height: 150px;
    text-align: center;
  }
  .grid-heading{
    text-align: center;
  }
  
  /* Style the side columns */
  .side-column {
    float: left;
    width: 50%;
    padding: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style the main content column */
  .main-column {
    float: left;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    height: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the columns stack on top of each other */
  @media screen and (max-width: 500px) {
    .side-column, .main-column {
      width: 100%;
    }
  }

  .section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  .section-title {
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #333fff;
  color: white;
  border: 1px solid #ddd;
  }

  td {
    border: 1px solid #ddd;
  padding: 8px;
  }

  mark {
    background-color: rgb(34, 156, 75);
    color: black;
  }

  .button-container {
    text-align: center;
  }
  
  .left-button, .right-button, .center-button,.right1-button {
    width: 20%;
    box-sizing: border-box;
  }
  
  .left-button {
    float: left;
  }
  
  .right-button {
    float: right;
  }


  .clock {  
    position: absolute;  
    top: 30%;  
    left: 30%;  
    padding-top: 15px;  
    transform: translateX(-50%) translateY(-50%);  
    color: #333fff;  
    font-size: 60px;  
    font-family: Orbitron;  
    letter-spacing: 7px;  
}  